@media (min-width:1262px) {

    .mbl_footer,
    .mbl_header {
        display: none;
    }


}
/* -----------------In tablet devices responsive---------------------- */
@media (max-width:1263px) and (min-width:768px) {


    .mbl_header,
    .mbl_footer,
    .sidebar .brand .text,
    .nav-label,
    .main-panel {
        display: none;
    }



    .sidebar {
        width: 80px;
        padding: 1.5rem 0.5rem;
    }



    .sidebar .brand .logo-insta {
        display: block;
    }



    .profiles {
        display: none;
    }
}



/* Responsive for mobile device */

@media (max-width:769px) and (min-width:320px) {

    .sidebar,
    .profiles,
    .nav_link,
    .confirm-refresh,
    .main-panel {
        display: none;
    }

    .video-section {
        justify-content: center;
    }

    .stories {
        overflow-y: auto;
    }


}