@media (min-width:1262px){
    .mbl_footer{
        display: none;
    }
    .mbl_header{
        display: none;
    }
}
@media (max-width:1263px) and (min-width:768px) {

    .sidebar {
        border-right: 1px solid rgb(182, 181, 181);
        width: 70px;
        height: auto;
        position: fixed;
        justify-items: center;
    }
    .mbl_header{
        display: none;
    }
    .mbl_footer{
        display: none;
    }

    .sidebar ul li a span {
        display: none;
    }
    .sidebar ul li a img {
        width: 40px;
        /* padding-right: 10px; */
        margin: auto;
    }
    .sidebar ul li {
        /* margin-bottom:20px ; */
        padding: 15px 0px;
        /* width: 50%; */
        gap: 15px;
    }

    .logo .monogram {
        display: block;
        width: 30px;
        justify-self: center;
        /* margin: auto; */
    }

    .logo .text {
        display: none;
    }
}
/* Responsive for mobile device */

@media (max-width:769px) and (min-width:320px){
    
    .sidebar {
        display: none;
    }
    .profiles{
        display: none;
    }
    .nav_link{
        display: none;
    }
    .video-section{
        justify-content: center;
    }
    

}