*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}
/* home page sidebar */
.sidebar {
    border-right: 1px solid rgb(182, 181, 181);
    width: 250px;
    height: auto;
    position: fixed;
}
/* home page logo */
.logo .monogram {
    display: none;
}
.logo .text{
    margin: auto;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px 10px;
    width: 90%;
    gap: 15px;
}

.sidebar ul li a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.sidebar ul li:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;

}

.sidebar ul li a img {
    width: 35px;
    padding-right: 10px;
}
/* sidebar end */
/* mobile header */
.mbl_header {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    align-content: space-around;
}

.mbl_header .mbl_logo img {
    width: 100px;
}

.mbl_manu {
    position: absolute;
    right: 0;
}

.mbl_header ul {
    list-style-type: none;
    gap: 10px;
    float: left;
}

.mbl_header ul li {
    width: 25px;
}

/* mobile Footer */
.mbl_footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    /* text-align: center; */
}

.mbl_footer ul {
    display: flex;
    gap: 40px;
    align-self: center;

}

.mbl_footer ul li {
    list-style: none;
}

.mbl_footer ul li a img {
    width: 30px;
}

/* stories section */
.stories {
    list-style: none;
    text-align: center;
}

.stories li {
    padding-right: 20px;
}

.stories li span {
    border-radius: 500px;
    border: 2px solid rgb(250, 2, 167);
    padding: 20px 0;
    position: relative;
    top: 10px;
}

.stories li span img {

    border-radius: 500px;
    width: 70px;
    height: 70px;
}

.stories li p {
    position: relative;
    top: 5px;
}
/* main contents */
.confirm-refresh {
    justify-items: center;
    border-bottom: 1px solid rgb(182, 181, 181);
    ;
}

.confirm-refresh img {
    width: 100px;
}
/* video and post */
.video {
    position: relative;
    margin: auto;
    border-bottom: 1px solid;
    width: 350px;

}

.video video {
    width: 350px;
}

.commit {
    gap: 10px;
}

.commit img {
    width: 25px;

}
/* user profiles in right side */
.profiles {
    position: relative;
    top: 10px;
}
.user {
    align-content: center;

}

.user h6 {
    position: relative;
    top: 10px;
}

.user div p {
    color: rgb(85, 84, 84);
    font-size: 15px;
}

/* ------------------------Profile Page------------------------------ */
.profile_account{
    align-items: center;
    position: relative;
    top: 20px;
    margin-bottom: 100px;
    justify-items: center;
}
.profile_account div ul{
    gap: 20px;
}
.profile_account div ul li button{
    background-color: rgb(239 239 239);
}
.profile_account div .thread_btn{
    gap: 5px;
    background-color: rgb(239 239 239);
    border-radius: 100px;
    border: 0cap;
    padding: 5px;
}
.profile_img img{
    width:200px;
    border-radius: 100px;
}
.adstory{
    border: 2px solid #c9c8c8;
    border-radius: 50px;
    width: 65px;
    margin-bottom: 100px;
}
.adstory img{
    fill: #c9c8c8;
    width: 60px;
    padding: 1px;
    margin: auto;
}
/* post profile */
.post{
    width: 100%;
    margin-bottom: 30px;
    /* justify-items: center; */
    border-top: 1px solid #c9c8c8;
}
.post ul{
   gap: 90px;
   justify-content: center;
   align-content: center;
}
.adphoto{
    justify-items: center;
}


